<!DOCTYPE html>
<html>
  <head>
    <title>Server 2</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Server 2</h1>
    <p>Welcome to <%= title %></p>
  </body>
</html>
